canvas {
    display: block;
} 
#particles-js {
    position: absolute;
    width: 100vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /* border: solid orangered 3px; */
} 
/*****
Inicio
Sobre nosotros
Equipo
Contactanos
****/