canvas {
    display: block;
} 
#particles-js {
    position: absolute;
    width: 100%;
    height: 200vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
} 
/*****
Inicio
Sobre nosotros
Equipo
Contactanos
****/