/*******************************General Settings*******************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }

html{
    scroll-behavior: smooth;
}
body {
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.bg{
  background-image: radial-gradient(circle, #1096b2, #138ba4, #158097, #16758a, #176a7d, #176376, #165b6f, #165468, #174e64, #19475f, #1b415a, #1d3b55);
  background: #fff;
  position: absolute;
  width: 100vw;
  z-index: -1;
}

/*******************************Preloader******************************/

.preloader{
  height: 110vh;
  width: 100vw;
  background: #174e64;  
  background-image: radial-gradient(circle, #1096b2, #138ba4, #158097, #16758a, #176a7d, #176376, #165b6f, #165468, #174e64, #19475f, #1b415a, #1d3b55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.hidden-overflow{
  overflow: hidden;
}
.hidden{
  opacity: 0;
}

/*******************************Header******************************/
header{
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content:space-between;
  position: fixed;
  left: 0;
  z-index: 50000;
}
.navscroll {
  transition:background-color 500ms, color 500ms;
}
.navscroll.azul {
  background-color:#003242d0;
}
nav ul{
  display: flex;
  text-decoration: none;
  list-style: none;
}
nav ul li{
    font-family: 'Roboto', sans-serif;
    padding-left: 50px;
    padding-top: 20px;
}
nav a{
  color: #ffffffde;
  text-decoration: none;
  font-weight: 400;
}
nav a {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

nav a:after {
  content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #19DDFF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav a:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
nav a.active:after{
  content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #19DDFF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

/*******************************Menu Open******************************/
.menu-open{
  width: 100vw;
  height: 180vh;
  position: absolute;
  top: -180vh;
  left: 0;
  background-color: #1096b2;
  z-index: 1000000000;
}
.menu-open ul{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
}
.menu-open ul li{
  margin: 20px;
}
.menu-open ul li a{
  color: #e5e5e5d4;
  font-weight: 800;
  text-decoration: none;
  transition: 1s;
}
.menu-open ul li a:hover{
  color: #e5e5e5;
  font-weight: 800;
}
.close-menu{
  position: absolute;
  width: 25px;
  left: 10vw;
  top: 4vh;
  cursor: pointer;
}
/********************************Banner*******************************/
canvas {
  display: block;
} 
#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} 
.particles-js{
  z-index: 110;
}
.text-banner h1{
  width: 100%;
}
.text-banner p{
  width: 100%;
}
.banner{
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 1100;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
}
.box-img-banner{
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scroll-icon{
  position: absolute;
  bottom: 5%;
  left: 50%;
  cursor: pointer;
}
/********************************Que hacemos*******************************/
.section-sobre-nosotros{
  text-align: center;
  width: 100vw;
  height: 60vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #0197B1;
  background: #F4FDFF;
}
.section-sobre-nosotros p{
  margin-top: 10px;
  color: #18191F;
  font-size: 12pt;
  margin-left: 30px;
  margin-right: 30px;
}
.que-hacemos-img-2{
  display: none;
}

.que-hacemos-texto{
  position: relative;
  width: 50vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.que-hacemos-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 80vh;
}
.section-sobre-nosotros h1{
  color: #0197B1;
  font-size: 25pt;
  margin-left: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 5px;
  font-weight: 500;
}

.section-two-que-hacemos{
  position:  relative;
  width: 90vw;
}
.section-two-que-hacemos img{
  width: 55vw;
}

.section-two-que-hacemos h1{
  position: absolute;
  z-index: 3010;
  font-size: 16pt;
  font-weight: 800;
  color:#095261;
  bottom: 5%;
  left: 30%;
}
.section-two-que-hacemos p{
  width: 140px;
  position: absolute;
  bottom: 12%;
  left: 5%;
  z-index: 3010;
  font-size: 9pt;
  color: #454449;
}

/********************************Services*******************************/
.services{
  color: #0197B1;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background: #fff;
  position: relative;
}

.services h1{
  padding-top: 70px;
  font-size: 25pt;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
}
.services p{
  color: #474A57;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 12pt;
  margin-left: 30px;
  margin-right: 30px;
}
.services-group{
  width: 100vw;
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16vw;
  padding-right: 16vw;
  flex-wrap: wrap;
}

.box-service{
  width: 280px;
  height: 290px;
  background: rgba( 255, 255, 255, 0.80 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 10px;  border-radius: 5%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #0c0c0c;
  text-align: start;
  cursor: pointer;
  z-index: 1051;
}

.box-service:hover{
  box-shadow: -10px 10px 42px -4px rgba(0,0,0,.3);
  background: rgba(255, 255, 255, 0.857);
}
.text-service{
  margin-left: 35px;
  margin-right: 35px;
}
.box-service img{
  box-flex: 1;
  height: 75px;
  width: 60px;
  margin: 40px 20px 20px 20px;
  margin-left: 30px;
}
.service-1 img{
  width: 51px;
  height: 75px;
}
.service-2 img{
  width: 48px;
  height: 75px;
}
.service-3 img{
  width: 80px;
  height: 75px;
}
.service-4 img{
  width: 52px;
  height: 75px;
}
.service-5 img{
  width: 75px;
  height: 75px;
}
.service-6 img{
  width: 44px;
  height: 75px;
}
.box-service h2{
  font-size: 14pt;
  font-weight: 600;
  margin-bottom: 10pt;
}
.text-service p{
  font-size: 10pt;
  color: #474A57;
  line-height: 20pt;
  font-weight: 300;
}
.break {
  flex-basis: 100%;
  height: 0;
}

/********************************Services carousel swiper*******************************/

.services-swiper{
  display: none;
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 100vw; 
  height: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #0197B1;
  background: #fff;
}

.services-swiper h1{
  font-size: 25pt;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
  padding-top: 50px;
  padding-bottom: 5px;
}
.services-swiper p{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #18191F;
  font-size: 12pt;
  margin-left: 30px;
  margin-right: 30px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 100%;
}

/********************************Aliados*******************************/
.section-aliados{
  margin-top: 40px;
  width: 100vw;
  height: 50vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #0197B1;
  background: #F4FDFF;
}

.section-aliados h1{
  font-size: 25pt;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 70px;
  font-weight: 500;
}
.section-aliados p{
  font-size: 12pt;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #474A57;
}
.aliados-mobile{
  display: none;
  visibility: hidden;
}
.aliados-desktop {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aliados-desktop img{
  width: 70%;
  cursor: pointer;
}
/********************************Asesores*******************************/
.section-asesores{
  width: 100vw;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #0197B1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #f4fdff, #f8fdff, #fbfdff, #fefeff, #ffffff);
}

.section-asesores h1{
  font-size: 25pt;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
  font-weight: 500;
}
.section-asesores p{
  font-size: 12pt;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #474A57;
}
.asesores-desktop{
  width: 100vw;
  display: flex;
  justify-content: center;
}
.asesores-mobile{
  display: none;
  visibility: hidden;
}
.asesor{
  width: 250px;
  cursor: pointer;
  transition: 1s;
}
/********************************Contacto*******************************/
.section-contacto{
  position: relative;
  width: 100vw;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #0197B1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F4FDFF;
  z-index: -1;
}

.bg-contacto{
  width: 101vw;
  position: absolute;
  bottom: -10vh;
  background-image: url(../img/bg-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
.section-contacto p{
  font-size: 12pt;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 60px;
  color: #474A57;
}
.contacto{
  width: 90vw;
  height: 460px;
  border-radius: 10px;
  background: rgba( 255, 255, 255, 1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  color: #0c0c0c;
  display: flex;
  text-align: start;
  padding: 40px;
}

.contacto form{
  width: 30vw;
}
.contacto map{
  width: 30vw;
}
.contacto h2{
  font-size: 14pt;
  font-weight: 500;
}
.contacto input{
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  border:  solid #B4BEC8 2px;
  width: 90%;
  height: 40px;
  margin: 10px 0 10px 0;
  padding: 5px;
  color: #828991;
}
.contacto textarea{
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  border:  solid #B4BEC8 2px;
  width: 90%;
  height: 90px;
  margin: 10px 0 10px 0;
  padding: 5px;
  color: #828991;
}
.contacto .sin-procesar{
  background-color: #23B1CF;
  border:  solid #23B1CF 2px;
  color: #fff;
  cursor: pointer;
}

.contacto .procesado{
  background-color: #4fc463;
}
.direccion{
  width: 24vw;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.direccion p{
  margin-top: 35px;
  margin-left: 20px;
}
.telefono{
  width: 24vw;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.telefono p{
  margin-top: 35px;
  margin-left: 20px;
}
.correo{
  width: 24vw;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.correo p{
  margin-top: 30px;
  margin-left: 20px;
}
/******************************Footer****************************/
footer{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: baseline;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.logo-footer{
  width: 30vw;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10vh;
}
.logo-footer img{
  width: 25%;
}
.rss{
  width: 40vw;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rss img{
  margin-right: 25px;
  width: 20px;
  cursor: pointer;
}
.rss .fb{
  width: 10px;
}
.copyright{
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright p{
  width: 100%;
  padding-right: 5vw;
  text-align: end;
}

/******************************Media Queries****************************/
@media only screen and (max-width: 1920px) {

  .section-contacto h1{
    margin-top: -20vh;
    font-size: 25pt;
  margin-left: 20px;
  margin-right: 20px;
    font-weight: 500;
  }
  .map{
    margin-right: 50px;  
  }
  .bg-contacto{
    height: 60vh;
  }
  .section-contacto{
    height: 90vh;
  }
  .section-asesores{
    height: 90vh;
  }
  .services{
    height: 90vh;
  }
  .bg-services{
    width: 100vw;
    height: 30vh;
    background: #F4FDFF;
    position: absolute;
    bottom: -12vh;
  }
  .section-sobre-nosotros-title{
    margin-top: 50px;
  }
  header{
    height: 6vh;
  }
  nav ul li{
    padding-top: 0px;
  }
  .menu-header{
    display: none;
  }
  nav ul {
    padding-right:20vw ;
  }
  .header{
    padding-left: 5vw;
    padding-right: 6vw;
  }
  .banner h1{
    z-index: 2;
    color: #e5e5e5;
    font-size: 4vw;
    font-weight: 500;
    line-height: 60pt;
  }
  .banner p{
    z-index: 2;
    color: #e5e5e5;
    font-size: 250%;
    font-weight: 300;
  }
  .text-banner h1{
    width: 100%;
    text-align: center;
  }
  .text-banner p{
    text-align: center;
    width: 100%;
  }
  .box-logo-banner{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/bg-home.png);
    background-repeat: no-repeat;
    background-size: 101%;
    background-position: 50% 50%;
    z-index: -1;
  } 
  .img-2-banner{ /*desktop 19*/
    width: 35%;
    z-index: 1;
  }

  .partners-banner img{
    cursor: pointer;
    margin: 0 50px 0 50px;
    z-index: 3000;
  }

  .logo-header{
    margin-left: 20vw;
    width: 100%;
    width: 100px;
  }


}

@media only screen and (max-width: 1366px) {
  .section-contacto h1{
    margin-top: -5vh;
    font-size: 25pt;
  margin-left: 20px;
  margin-right: 20px;
    font-weight: 500;
  }
  .bg-contacto{
    height: 75vh;
  }
  .section-contacto{
    height: 120vh;
  }
  .section-asesores{
    height: 110vh;
  }
  .services{
    height: 120vh;
  }
  .bg-services{
    width: 100vw;
    height: 30vh;
    background: #F4FDFF;
    position: absolute;
    bottom: -12vh;
  }
  nav ul li{
    padding-top: 20px;
  }
  header{
    height: 8vh;
  }
  nav ul{
    padding-right: 2vw;
  }

  .header{
    padding:0px 15vw 20px 8vw;
  }
  .banner h1{
    z-index: 2;
    color: #e5e5e5;
    font-weight: 500;
    line-height: 60pt;
  }
  .banner p{
    z-index: 2;
    color: #e5e5e5;
    font-size: 180%;
    font-weight: 300;
  }
  .text-banner h1{
    width: 100%;
    text-align: center;
  }
  .text-banner p{
    width: 100%;
    text-align: center;
  }
  .partners-banner img{
    margin: 0 20px 0 20px;
    z-index: 3000;
  }
  .logo-header{
    padding-top: 20px;
    margin-left: 30px;
    width: 100px;
    cursor: pointer;
  }
  .menu-header{
    padding-top: 20px;
    margin-right: 40px;
    width: 28px;
    cursor: pointer;
  }
  
}

@media only screen and (max-width: 800px) {
  
  .section-sobre-nosotros h1{
    padding-top: 50px;
  }
  .section-contacto h1{
    margin-top: 120px;
  }
  .copyright p{
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
  footer{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-flow: row wrap;

  }
  .logo-footer{
    width: 50vw;
  }
  .logo-footer img{
    margin-top: 50px;
    width:60%;
  }
  .info{
    margin-top: 5vh;
  }
  .info p{
    font-size: 10pt;
  }
  .rss{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
  }
  .rss img{
    margin-left: 12px;
    margin-right: 12px;
    width: 20px;
    cursor: pointer;
  }
  .rss .fb{
    width: 10px;
  }
  .copyright{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -80px;
    padding-right: 0;
  }
  .br-desktop{
    display: none;
  }
  .bg-contacto{
    bottom: -32vh;
    background-size: cover;
  }
  .section-contacto{
    height: 165vh;
  }
  .section-asesores{
    height: 130vh;
  }
  .section-asesores h1{
    margin-top: 50px;
  }
  .section-aliados{
    height: 80vh;
  }
  .bg{
    height: 650vh;
    }
  .map{
    margin-right: 0;  
  }
  .map p{
    font-size: 10pt;
  }
  .mapa-google{
    width: 65vw;
    height: 30vh;
  }
  .direccion{
    width: 70vw;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .direccion p{
    margin-top: 35px;
    margin-left: 20px;
  }
  .telefono{
    width: 65vw;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .telefono p{
    margin-top: 35px;
    margin-left: 20px;
  }
  .correo{
    width: 65vw;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .correo p{
    margin-top: 30px;
    margin-left: 20px;
  }
  .rss{
    width: 65vw;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .rss img{
    margin-right: 20px;
    cursor: pointer;
  }
    
  .contacto input{
    width: 65vw;
  }
  .contacto textarea{
    width: 65vw;
  }
  .contacto{
    flex-direction: column;
    width: 85vw;
    height: 140vh;
  }
  .asesores-desktop{
    display: none;
    visibility: hidden;
  }
  .asesores-mobile{
    display: flex;
    visibility: visible;
    width: 80vw;
    display: flex;
    justify-content: center;
  }
  .asesores-mobile img{
    width: 180px;
  }
  .aliados-desktop{
    display: none;
    visibility: hidden;
  }

  .aliados-mobile{
    display: inline;
    visibility: visible;
    width: 100vw;
    height: 80vh;
  }
  .aliados-mobile img{
    width: 80%;
  }
  
  .que-hacemos-img-2{
    display: inline;
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .que-hacemos-img-2 img{
    width: 70vw;
  }
  .section-sobre-nosotros{
    height: 170vh;
    text-align: center;
  }

  .section-sobre-nosotros-title{
    margin-top: 5vh;
  }


  .que-hacemos-img{
    display: none;
    width: 100%;
    height: 40vh;
  }
  
  .services-swiper{
    height: 100vh; 
    display: inline;
    visibility: visible;
    background: #fff;
  }

  nav{
    visibility: hidden;
  }

  .menu-header{
    visibility: visible;
    display: inline;
    left: 10vw;
    width: 20px;
    padding-bottom: 0;
    position: absolute;
    right: 5vw;
    z-index: 100000;
  }


/******************************Header****************************/

  header{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction:row;
    z-index: 2000;
    position: fixed;
  }
  .logo-header{
    width: 80px;
    cursor: pointer;
    position: absolute;
    margin-left: 40vw;
  }


/******************************Banner****************************/

  .banner{
    flex-direction: column;
  }
 .banner h1{
    font-size: 40pt;
    line-height: 40pt;
    width: 80vw;
    text-align: center;
  }
  .banner p{
    width: 100%;
    font-size: 20pt;
    text-align: center;
  }
  .box-logo-banner{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg-home.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
  }
  .box-img-banner{
    margin: 0;
    width: 100vw;
    height: 100vh;
  } 
  .img-2-banner{ /*mobile*/
    width: 50%;
  }
  .services-carousel{
    display: none;
    visibility: hidden;
  }
  .services{
    display: none;
    visibility: hidden;
  }

}

@media only screen and (max-width: 620px) {
  .box-service{
    width: 250px;
    height: 270px;
    margin-left: -1px;
    background: rgba( 255, 255, 255, 0.80 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;  border-radius: 5%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #0c0c0c;
    text-align: start;
    cursor: pointer;
    z-index: 1051;
  }

  .banner h1{
    font-size: 25pt;
  margin-left: 20px;
  margin-right: 20px;
    line-height: 28pt;
    width: 80vw;
  }
  .banner p{
    font-size: 14pt;
  }
  .logo-header{
    left: 3vw;
  }
  .menu-header{
    right: 3vw;
  }
}