/*******************************General Settings*******************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }

body {
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.bg{
  background-image: radial-gradient(circle, #1096b2, #138ba4, #158097, #16758a, #176a7d, #176376, #165b6f, #165468, #174e64, #19475f, #1b415a, #1d3b55);
  position: absolute;
  width: 100vw;
  height: 600vh;
  z-index: -1;
}

/*******************************Preloader******************************/

.preloader{
  height: 110vh;
  width: 100vw;
  background: #174e64;  
  background-image: radial-gradient(circle, #1096b2, #138ba4, #158097, #16758a, #176a7d, #176376, #165b6f, #165468, #174e64, #19475f, #1b415a, #1d3b55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.hidden-overflow{
  overflow: hidden;
}
.hidden{
  opacity: 0;
}

/*******************************Header******************************/
header{
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content:space-between;
  position: fixed;
  left: 0;
  z-index: 11100;
}
.navscroll {
  transition:background-color 500ms, color 500ms;
}

.navscroll.azul {
  background-color:#1097b2a4;
}

nav ul{
  display: flex;
  text-decoration: none;
  list-style: none;
}
nav ul li{
  font-family: 'Montserrat', sans-serif;
  padding-left: 50px;
  padding-top: 20px;
}
nav a{
  color: #e5e5e5ad;
  text-decoration: none;
  font-weight: 400;
}
nav a:hover{
  color: #e5e5e5;
}
/*******************************Menu Open******************************/

.menu-open{
  width: 100vw;
  height: 180vh;
  position: absolute;
  top: -180vh;
  left: 0;
  background-color: #1096b2;
  z-index: 1000000000;
}
.menu-open ul{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
}
.menu-open ul li{
  margin: 20px;
}
.menu-open ul li a{
  color: #e5e5e5d4;
  font-weight: 800;
  text-decoration: none;
  transition: 1s;
}

.menu-open ul li a:hover{
  color: #e5e5e5;
  font-weight: 800;
}

.close-menu{
  position: absolute;
  width: 25px;
  left: 10vw;
  top: 4vh;
  cursor: pointer;
}
/********************************Banner*******************************/
.text-banner h1{
  width: 45vw;
}
.text-banner p{
  width: 45vw;
}
.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 1100;
  font-family: 'Montserrat', sans-serif;
}

.banner h1{
  z-index: 2;
  color: #e5e5e5;
  font-size: 40pt;
  font-weight: 600;
  line-height: 40pt;
}
.banner p{
  z-index: 2;
  color: #e5e5e5;
  font-size: 15pt;
  font-weight: 200;
}
.particles-js{
  z-index: 1100;
}


.box-img-banner{
  width: 50vw;
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 120px;
}

/********************************Section-Two*******************************/

.section-two{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-two .convergencia{
  width: 30vw;
}

.section-two h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 40pt;
  font-weight: 400;
  color: #e5e5e5;
  width: 50vw;
  text-align: center;
  font-size: 40pt;
  font-weight: 600;
  margin-bottom: 10vh;
}
.section-two{
  z-index: 1060;
  font-family: 'Montserrat', sans-serif;
  color: #e5e5e5;
  text-align: center;
}
.conv-hover{
  position: absolute;
  border: solid 3px green;
  border-radius: 20%;
}

.tooltip-conv-iot{
  position: absolute;
  width: 200px;
  height: 100px;
  right: 200px;
  visibility: hidden;
}


.tooltip-conv-ia{
  position: absolute;
  width: 200px;
  height: 100px;
  left: 200px;
  visibility: hidden;
}

.tooltip-conv-bd{
  margin: 0 0 0 0 auto;
  position: absolute;
  width: 200px;
  height: 100px;
  visibility: hidden;
  margin-top: 180px;
}
/********************************About*******************************/
.about{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}
.about-left{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;
  color: #1096b2;
  margin-left: 5vw;
  margin-right: 5vw;
}
.about-left h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 40pt;
  font-weight: 400;
}
.about-left h1 span{
  font-weight: 700;
}
.about-left p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20pt;
  font-weight: 300;
  padding-top: 60px;
}
.about-right{
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-right .human-about{
  width: 400px;

}
.about-bg{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1050;
}

/********************************Team*******************************/
.team{

  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  color: #fff;
}
.team-group{
  width: 100vw;
  height: 100vh;
  margin-left: 10vw;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.team-center{
  width: 35vw;
  height: 60vh;
  position: absolute;
  left: 10vw;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.team-group h1{
  margin-top: 30px;
  font-size: 40pt;
  font-weight: 400;
}
.team-group h2{
  font-size: 15pt;
  font-weight: 400;
}
.team-group h3{
  font-size: 10pt;
  font-weight: 300;
}
.team-group h1 span{
  font-weight: 700;
}
.user-team-img{
  width: 120px;
  height: 120px;
}
.team-left{
  width: 45vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5vw;
}
.user-team-left-1{
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 5vw;
}
.user-team-left-2{
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -5vw;
}
.user-team-left-3{
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 5vw;
}

.team-right{
  width: 45vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10vw;
}
.user-team-right-1{
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 5vw;
}

.user-team-right-2{
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -5vw;
}
.user-team-right-3{
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 5vw;
}
.team-bg{
  position: absolute;
  right: 150px;
  bottom: 0;
  width: 45%;
}
/********************************Partner*******************************/

.partner{
  width: 100vw;
  height: 100vh;

  position: relative;
  text-align: center;
  color: #1096b2;
  font-family: 'Montserrat', sans-serif;
}
.partner-group{
  height: 100vh;
  margin-left: 10vw;
  display: flex;
  justify-content: center;
}

.partner-center{
  width: 35vw;
  height: 55vh;
  position: absolute;
  left: 10vw;
  right: 0;
  bottom: 0;
  margin: auto;
}
.partner h1{
  padding-top: 30px;
  font-size: 40pt;
  font-weight: 400;
}
.partner h1 span{
  font-weight: 700;
}
.partner-logo-1{
  position: absolute;
  bottom: 15vw;
  left: 15vw;
}
.partner-logo-2{
  position: absolute;
  bottom: 15vw;
  right: 5vw;
}
.partner-logo-3{
  position: absolute;
  bottom: 50vh;
  left: 22vw;
}
.partner-logo-4{
  position: absolute;
  bottom: 50vh;
  right: 12vw;
}
.partner-logo-5{
  position: absolute;
  bottom: 65vh;
  right:0;
  left: 10vw;
  margin: auto;
}
.partner-img{
  width: 250px;
}
.brain-bg{
  position: absolute;
  right: 100ox;
  bottom: 0;
  z-index: 1050;
  width: 45%;
}
/******************************Advisors********************************/
.advisor{

  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
}
.advisor-group{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.advisor-group h2{
  font-size: 15pt;
  font-weight: 400;
}
.advisor-group h3{
  font-size: 10pt;
  font-weight: 300;
}
.advisor-group h1 span{
  font-weight: 700;
}
.advisor-group h1{
  margin-top: 30px;
  font-size: 40pt;
  font-weight: 400;
  margin-left: 5vw;
}

.user-advisor-img{
  width: 120px;
  height: 120px;
}
.advisor-left{
  width: 45vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -2vw;
}
.user-advisor-left-1{
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 5vw;
}
.user-advisor-left-2{
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -5vw;
}
.user-advisor-left-3{
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 5vw;
}
.advisor-right{
  width: 45vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5vw;
}
.user-advisor-right-1{
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 5vw;
}

.user-advisor-right-2{
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -5vw;
}
.user-advisor-right-3{
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 5vw;
}
/******************************Enviroment****************************/
.environment{
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  color: #1096b2;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.environment-group{
  width: 60vw;
}
/******************************Media Queries****************************/
@media only screen and (max-width: 1920px) {
  .conv-iot{
    width: 500px;
    height: 220px;
    margin: 0 0 0 0 auto;
    margin-bottom: 80px;
    left: 22vw;
    top:35vh;
    transition: 3s;
  }
  .conv-ia{
    width: 500px;
    height: 220px;
    top:35vh;
    right: 22vw;
  }
  .conv-bd{
    width: 250px;
    height: 300px;
    bottom: 5vh;
  }
  .menu-header{
    display: none;
  }
  nav ul {
    padding-right:20vw ;
  }
  .header{
    padding-left: 5vw;
    padding-right: 6vw;
  }
  .text-banner h1{
    width: 30vw;
    text-align: left;
  }
  .text-banner p{
    text-align: left;
    width: 30vw;
  }
  .box-logo-banner{
    width: 50vw;
    margin-left: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0vh;
    flex-direction: column;
  } 

  .img-2-banner{
    margin-right: 20vw;
    width: 120%;
    /* border: solid 5px gold; */
  }

  .logo-banner{
    width: 22vw;
  }
  .logo-header{
    margin-left: 20vw;
    width: 100%;
    /* border: solid 5px yellow; */
    width: 100px;
  }


}

@media only screen and (max-width: 1366px) {
  .conv-iot{
    width: 500px;
    height: 170px;
    margin: 0 0 0 0 auto;
    margin-bottom: 80px;
    left: 12vw;
    top:35vh;
    transition: 3s;
  }
  .conv-ia{
    width: 500px;
    height: 170px;
    top:35vh;
    right: 12vw;
  }
  .conv-bd{
    width: 250px;
    height: 300px;
    bottom: 0vh;
  }
  nav ul{
    padding-right: 2vw;
  }

  .header{
    padding:0px 15vw 20px 8vw;
  }
  .text-banner h1{
    width: 50vw;
    text-align: left;
  }
  .text-banner p{
    width: 50vw;
    text-align: left;
  }
  .box-logo-banner{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
  }
  .img-2-banner{
    width: 100%;
    margin-right: -10vw;
  }
  .logo-banner{
    width: 18vw;
  }
  .logo-header{
    padding-top: 20px;
    margin-left: 30px;
    width: 100px;
    cursor: pointer;
  }
  .menu-header{
    padding-top: 20px;
    margin-right: 40px;
    width: 28px;
    cursor: pointer;
  }
  
}

@media only screen and (max-width: 800px) {

  nav{
    visibility: hidden;
  }

  .menu-header{
    visibility: visible;
    display: inline;
    left: 10vw;
    width: 20px;
    padding-bottom: 0;
    position: absolute;
    right: 5vw;
    z-index: 100000;
    /* border: solid 3px black; */
  }


/******************************Header****************************/

  header{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction:row;
    z-index: 2000;
    position: fixed;
  }
  
  .logo-header{
    width: 80px;
    cursor: pointer;
    position: absolute;
    margin-left: 40vw;
  }



/******************************Banner****************************/
.logo-banner{
  width: 0vw;
  margin-left: -80vw;
}
  .banner{
    flex-direction: column;
  }
  
 .banner h1{
  font-size: 40pt;
  line-height: 40pt;
  width: 80vw;
  text-align: center;
  }
  .banner p{
    width: 80vw;
    font-size: 20pt;
    text-align: center;
  }
  .box-logo-banner{
    width: 100vw;
    height: 40vh;
    margin-top: 10vh;
    /* border: solid purple 5px; */
  }

  .box-img-banner{
    margin: 0;
    width: 100vw;
    height: 50vh;
    /* border: solid rgb(141, 125, 141) 5px; */
  } 

  .img-2-banner{
    width: 75%;
    margin-right: 0px;
  }

  .about{
    /* border: 3px solid yellow; */
  }
  .about-left h1{
    font-size: 20pt;
    font-weight: 400;
  }
  .about-left h1 span{
    font-weight: 700;
  }
  .about-left p {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    font-weight: 300;
    padding-top: 60px;
  }
}

@media only screen and (max-width: 620px) {

  .banner h1{
    font-size: 20pt;
    line-height: 20pt;
    width: 80vw;
  }
  .banner p{
    font-size: 10pt;
  }
  .logo-header{
    left: 3vw;
  }
  .menu-header{
    right: 3vw;
  }
}